<header>
    <nav>
        <img class="logo" src="../../../assets/images/logo2.png" />
        <h2 *ngIf="!user" >FocusFlow</h2>
        <button class="btn" *ngIf="user" mat-flat-button (click)="logout()">Déconnexion </button>
    </nav>

    <div class="page-header-container">
        <h2>{{pageTitle}}</h2> 
        <button mat-icon-button aria-label="Change Theme" (click)="changeTheme()">
            <mat-icon class="icon-theme" [svgIcon]="currentThemeIcon"></mat-icon>
        </button>
    </div>
    
</header>
